<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- onsoleLog,TextFileLog,Log4netHelper,RabbitMQLog,SqlLog -->
	<add key="LogType" value="ConsoleLog,TextFileLog"/>
	<!-- levels: Off > Fatal > Error > Warn > Info > Debug  > On -->
	<add key="logLevel" value="On"/>
	<add key="connString" value="Data Source='192.168.137.111';Initial Catalog='Lxsh.Project.DB';User ID='sa';Password='123456'"/>
	<add key="DbType" value="1"/>
	<add key="queueType" value="Redis"/>
	<add key="CacheType" value="RedisCache"/>
	<add key="Redisconfig" value="localhost:6379"/>
	<add key="RabbitMQConnect" value="host=192.168.137.111:5672;virtualHost=vhost_lxsh;username=lxsh;password=123456"/>
</appSettings>