<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
		<!--单级配置节点测试-->
		<section name="CustomerSingleConfig" type="ConfigDemo.CustomerSingleConfig,ConfigDemo"/>
		<!--多级配置节点测试-->
		<section name="CustomerMultiConfig" type="ConfigDemo.CustomerMultiConfig,ConfigDemo"/>
		<!--自定义新增节点测试-->
		<section name="TestConfigInfo" type="ConfigDemo.TestConfigInfo,ConfigDemo"/>
	</configSections>
	
   <!--<CustomerSingleConfig PlatChName="监控平台系统" PlatEnName="Monitoring platform system"></CustomerSingleConfig>-->
    <CustomerSingleConfig configSource="CfgFiles\CustomerSingleConfig.config" />
	<CustomerMultiConfig configSource="CfgFiles\CustomerMultiConfig.config" />
	<TestConfigInfo configSource="CfgFiles\TestConfigInfo.config" />
	<appSettings configSource="CfgFiles\system.config" />
	
	
<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>